<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Haven</title>
    <link rel="stylesheet" href="/CSS/output.css">
    <link rel="shortcut icon" href="/Images/LogoOneWithBg.jpg" type="image/x-icon">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- component -->
    <div class="max-w-screen-lg mx-auto">
        <main class="mt-10">
            <div class="mb-4 md:mb-0 w-full mx-auto relative">
                <div class="px-4 lg:px-0">
                    <h2 class="text-4xl font-semibold text-gray-800 leading-tight">
                        <%= locals.Viewblog.title %>
                    </h2>
                    <p class="py-2 text-green-700 inline-flex items-center justify-center mb-2">
                        <%= locals.Viewblog.category %>
                    </p>
                    <p class="text-theme-two font-Roboto text-xl">Views: <%= locals.Viewblog.views.length %></p>
                    <div class="button flex gap-5 flex-wrap">
                        <a href=<%=locals.back%> >
                            <button class="bg-theme-one text-white px-4 py-2  my-4 rounded-2xl">
                                Back
                            </button>
                        </a>
                        <a href="/blogs" >
                            <button class="bg-theme-one text-white px-4 py-2  my-4 rounded-2xl">
                                Blogs
                            </button>
                        </a>
                    </div>
                </div>

                <img src="<%= locals.Viewblog.thumbnailImage %>" class="w-full object-cover lg:rounded"
                    style="height: 28em;" />
            </div>

            <div class="flex flex-col lg:flex-row lg:space-x-12 font-Roboto">

                <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
                    <pre class="whitespace-pre-wrap"> <%= locals.Viewblog.body %></pre>
                </div>

                <div class="w-full lg:w-1/4 m-auto mt-12 max-w-screen-sm">
                    <div class="p-4 border-t border-b md:border md:rounded">
                        <div class="flex py-2">
                            <a href="/blogs/profile/<%=locals.Viewblog.createdBy.email%>">                                
                                <img src="<%= locals.Viewblog.createdBy.profileImg %>"
                                    class="h-10 w-10 rounded-full mr-2 object-cover" />
                            </a>
                            <div>
                                <p class="font-semibold text-gray-700 text-sm">
                                    <%= locals.Viewblog.createdBy.name.firstName %>
                                        <%= locals.Viewblog.createdBy.name.lastName %>
                                </p>
                                <p class="font-semibold text-gray-600 text-xs">
                                    <%= locals.Viewblog.createdBy.role %>
                                </p>
                            </div>
                        </div>
                        <p class="text-gray-700 py-3">
                            <%= locals.Viewblog.createdBy.bio %>
                        </p>
                    </div>
                </div>

            </div>

            <div class="my-5 font-Roboto">
                <h1 class="font-Lobster text-2xl">Comments</h1>
                <form class="max-w-2xl bg-white rounded-lg border p-2" method="post"
                    action="/blogs/blog/<%=Viewblog._id%>">
                    <div class="px-3 mb-2 mt-2">
                        <textarea placeholder="comment" name="text"
                            class="w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"></textarea>
                    </div>
                    <div class="flex justify-end px-4">
                        <input type="submit" class="px-2.5 py-1.5 rounded-md text-white text-sm bg-indigo-500"
                            value="Comment">
                    </div>
                </form>
                <% if (locals.blogComments) { %>
                    <div class="allComments my-5">
                        <% blogComments.forEach(comment=> { %>
                            <div
                                class="relative grid grid-cols-1 gap-4 p-4 mb-8 border rounded-lg bg-white shadow-lg">
                                <div class="relative flex gap-4">
                                    <a href=/blogs/profile/<%=comment.person.email%>>>
                                        <img src="<%=comment.person.profileImg%>"
                                            class="relative rounded-lg -top-8 -mb-4 bg-white border h-20 w-20" alt=""
                                            loading="lazy">
                                    </a>
                                    <div class="flex flex-col w-full">
                                        <div class="flex flex-row justify-between">
                                            <p class="relative text-xl whitespace-nowrap truncate overflow-hidden">
                                                <%=comment.person.name.firstName%></p>
                                        </div>
                                        <p class="text-gray-400 text-sm"><%=comment.createdAt.toLocaleDateString('en-IN', { month: 'long' , day: 'numeric' ,  })%></p>
                                    </div>
                                </div>
                                <p class="-mt-4 text-gray-500"><%=comment.content%>
                                </p>
                            </div>
                            <% }) %>
                    </div>
                    <% } %>
            </div>
        </main>
        <!-- main ends here -->
    </div>
</body>

</html>